<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width"/>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="http://121.40.58.147/static/css/list.css"/>
<link rel="stylesheet" type="text/css" href="../../../static/assets/css/base.css">
<link rel="stylesheet" type="text/css" href="../../../static/bootstrap/css/bootstrap.css">
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=MFNdr8DMmQRO6xrbpsctDvnjb9UjbjT8"></script>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script><!--调用jQuery-->
<script type="text/javascript" src="../../../static/assets/js/zepto.min.js" ></script>
<link rel="stylesheet" href="../../../static/raty-master/lib/jquery.raty.css">
<script src="../../../static/raty-master/lib/jquery.raty.js"></script>
<title>餐饮安全</title>
<style type="text/css">
        *{font-family: "微软雅黑";}
        body, html {width: 100%;height: 100%;max-width: 800px;margin: 0 auto;position: relative}
        .canyin-map{position: fixed;top: 0;left: 0;width: 100%;height: 20rem;z-index: 3}
        .con{color: #000;font-weight: bold;}
        .con:active{text-decoration:none;}
        .con:hover{text-decoration:none}
        .main{width: 100%;height: 20rem;}
        .canyin{width: 85%;margin: 0 auto;}
        .canyin-list{border-bottom: 1px solid #e2e2e2;padding-bottom: 1rem;padding-top: 1rem;}
        .canyin .list-group-item{border: none;padding: 0.3rem 0.3rem;}
        .canyin-image{width: 8rem;height: 8rem;display: block;}
        .canyin .col-xs-9{padding: 0;}
        .canyin .col-xs-3{padding: 0;}
    </style>

</head>

<body>
    <div class="canyin-map">
        <div id="bdmap" style="width: 100%;height: 20rem;z-index: 3"></div>
    </div>
    <div class="main"></div>
   <div class="canyin">
   {% for hotel in hotels_title %}
       <div class="canyin-list row">
           <div class="col-xs-9">
            <div class="list-group" >
                   <div id="hotels_comment" style="display: none">
                       <span id="star{{ hotel.id }}" >{{hotel.score}}</span>
                   </div>
                    <div class="list-group-item hotelName ">
                        <a class="con" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxe840f265a71f11b8&redirect_uri=http%3a%2f%2fchaihaiyang.imwork.net%2fstatic%2ftemplates%2fcanyindetail.html%3fid%3d'+{{ hotel.id }}+'&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect">
                            {{hotel.name}}
                        </a>
                    </div>
                    <div class="list-group-item comment">
                        <span id="star{{ hotel.id }}s" ></span>{{hotel.score}}分
                        <span >{{hotel.commentlen}}</span>条评论
                    </div>
                    <div class="list-group-item len">距离</div>
                </div>
               </div>
            <div class="col-xs-3">
                <div class="list-group">
                    <img src="{{ hotel.img }}"  alt="..." class="canyin-image img-responsive img-main" alt="Responsive image">
                </div>
               </div>
           </div>
           {% endfor %}

</div>
    <!--<div id="navi_checkHotel">-->
        <!--<div class="hotelName list-group">-->
            <!--<div class="list-group-item" >您当前处于：</div>-->
            <!--<div class="list-group-item" id="navi_hotelAddress">锡林浩特上海路展览馆旁锡林浩特上海路展览馆旁</div>-->
        <!--</div>-->
        <!--<div class="HoteSelect list-group">-->
            <!--<div class="list-group-item" >请在地图上选择一个餐厅</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div id="checkHotel" style="width: 100%;height: 25%;display: none">-->
        <!--<div class="row">-->
            <!--<div class="col-xs-8">-->
                <!--<div class="hotelName list-group">-->
                    <!--<div class="list-group-item" id="hotelName">内蒙古蒙古丽宫酒店有限公司内蒙古蒙古丽宫酒店有限公司</div>-->
                    <!--<div class="list-group-item" id="hotelAddress">锡林浩特上海路展览馆旁锡林浩特上海路展览馆旁</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-xs-4 list-score">-->
                <!--<div class="list-group">-->
                    <!--<div class="score list-group-item" >评分:<span id="score" style="color: red;font-size: 1.6rem;">4.0</span></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="row">-->
            <!--<div class="main">-->
                <!--<div class="col-xs-6">-->
                     <!--<div class="list-group">-->
                        <!--<div class="list-main list-group-item">-->
                            <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                            <!--<input class="SearchRoad" id="SearchRoad" type="button" value="查看路线" onclick="ViewRoute()">-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-6">-->
                    <!--<div class="list-group">-->
                        <!--<div class="list-main list-group-item">-->
                            <!--<span class="glyphicon glyphicon-comment"></span>-->
                            <!--<div class="detailcomment" id="detailcomment">详细信息</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--</div>-->





           


</body>
</html>
<script type="text/javascript" charset="utf-8">

//    var sro = $("body").scrollTop();
//    $(body).click(function(){
//        if(sro > 30){
//            alert(sro);
//            $(".canyin-map").hide();
//            $(".main").hide();
//        }
//        })

    var hotels={{ hotels_info | safe }}
    console.log(hotels);
    var startpoint=new BMap.Point();
    var endpoint=new BMap.Point();

    var map = new BMap.Map("bdmap");
    var point = new BMap.Point(116.331398,39.897445);
	map.centerAndZoom(point,15);
    map.enableScrollWheelZoom(true);
    var walking = new BMap.WalkingRoute(map, {renderOptions:{map: map, autoViewport: true}});
	var geolocation = new BMap.Geolocation();
	geolocation.getCurrentPosition(function(r){
		if(this.getStatus() == BMAP_STATUS_SUCCESS){
            var myIcon = new BMap.Icon("../../../static/img/pos.png",new BMap.Size(29, 26));
			var mk = new BMap.Marker(r.point,{icon:myIcon});
			map.addOverlay(mk);
			map.panTo(r.point);
            var gc=new BMap.Geocoder();
            gc.getLocation(r.point, function(rs) {
           var addComp = rs.addressComponents;
           address = addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber;
                 document.getElementById('navi_hotelAddress').innerHTML = address;

             });

			//alert('您的位置：'+r.point.lng+','+r.point.lat);
            console.log(r.point.lng);
            startpoint= r.point;
            var sw=new BMap.Point(r.point.lng-0.01, r.point.lat-0.01);
            var ne=new BMap.Point(r.point.lng+0.02, r.point.lat+0.02);
            var bound=new BMap.Bounds(sw,ne);
            console.log(bound);
            for(var i=0;i<hotels.length;i++){
                var tmp_point=new BMap.Point(hotels[i].posi[0],hotels[i].posi[1])
                if (bound.containsPoint(tmp_point)){
                    addMarker(tmp_point,hotels[i].name,hotels[i].id,hotels[i].address,hotels[i].score);
                }

            }
		}
		else {
			alert('failed'+this.getStatus());
		}
	},{enableHighAccuracy: true})
    var center_point=map.getCenter();
    console.log(center_point);
    //关于状态码
	//BMAP_STATUS_SUCCESS	检索成功。对应数值“0”。
	//BMAP_STATUS_CITY_LIST	城市列表。对应数值“1”。
	//BMAP_STATUS_UNKNOWN_LOCATION	位置结果未知。对应数值“2”。
	//BMAP_STATUS_UNKNOWN_ROUTE	导航结果未知。对应数值“3”。
	//BMAP_STATUS_INVALID_KEY	非法密钥。对应数值“4”。
	//BMAP_STATUS_INVALID_REQUEST	非法请求。对应数值“5”。
	//BMAP_STATUS_PERMISSION_DENIED	没有权限。对应数值“6”。(自 1.1 新增)
	//BMAP_STATUS_SERVICE_UNAVAILABLE	服务不可用。对应数值“7”。(自 1.1 新增)
	//BMAP_STATUS_TIMEOUT	超时。对应数值“8”。(自 1.1 新增)

    function addMarker(point,text,hotelid,address,score){
      var label = new BMap.Label(text,{offset:new BMap.Size(-5,-20)});
      label.setStyle({
           "fontSize":"13px",
           "border":"0"
      })
      var myIcon = new BMap.Icon("../../../static/img/cater.png",new BMap.Size(29, 26));
	  var marker = new BMap.Marker(point,{icon:myIcon});
      marker.setLabel(label);
	  map.addOverlay(marker);
      addClickHandler(marker,text,hotelid,address,score);
	}
    function addClickHandler(marker,text,hotelid,address,score){
		marker.addEventListener("click",function(e){
            SetMarkerImgUrl();
            endpoint=marker.getPosition();
            walking.clearResults();
			openDiv(marker,text,hotelid,address,score);
                }
		);
	}
	function openDiv(marker,text,hotelid,address,score){
        document.getElementById("bdmap").style.height= 75+"%";
		document.getElementById('checkHotel').style.display="block";
		document.getElementById('navi_checkHotel').style.display="none";
        var newIcon=marker.getIcon();
        newIcon.setImageUrl("../../../static/img/test2.png");
//{#        var newIcon  = new BMap.Icon("../../../static/img/test2.png",new BMap.Size(-29,-26));#}
        marker.setIcon(newIcon);
        document.getElementById('hotelName').innerHTML = marker.getPosition().lng;
        document.getElementById('hotelName').innerHTML = text;
        document.getElementById('hotelAddress').innerHTML = address;
        document.getElementById('score').innerHTML = score;
        console.log(text);
        console.log(typeof text);
        document.getElementById('detailcomment').innerHTML = '<a class="con" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxe840f265a71f11b8&redirect_uri=http%3a%2f%2fchaihaiyang.imwork.net%2fstatic%2ftemplates%2fcanyindetail.html%3fid%3d'+2+'&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect">查看详情</a>';
	}
    function ViewRoute(){

        walking.search(startpoint,endpoint);
    }
    function SetMarkerImgUrl(){
        for (var i = 0; i < map.getOverlays().length; i++) {
                if (map.getOverlays()[i].toString() == "[object Marker]"){

                    var icon=map.getOverlays()[i].getIcon();
                    if(icon.imageUrl=="../../../static/img/test2.png"){
                        icon.setImageUrl("../../../static/img/cater.png");
                        map.getOverlays()[i].setIcon(icon);
                    }
                }

            }
    }

</script>

<script>
    window.onload = function() {
           var commentscore = $("#hotels_comment span");
            for( i = 0;i<commentscore.length;i++){

                    showstar(commentscore[i].innerHTML,commentscore[i].id)
                }

    }
$.fn.raty.defaults.path = '../../../static/raty-master/lib/images/';
function showstar(score,id){
    var tag = '#'+ id +'s' ;
    $(tag).raty({ readOnly: true, score: score });

}
</script>

