<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width"/>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
 <link rel="stylesheet" type="text/css" href="http://121.40.58.147/static/css/list.css"/>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=MFNdr8DMmQRO6xrbpsctDvnjb9UjbjT8"></script>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script><!--调用jQuery-->
<title>餐饮安全</title>
<style type="text/css">
        body, html {width: 100%;height: 100%}
    </style>

</head>

<body>

   <div id="bdmap" style="width: 100%;height: 75%">

    </div>
    <div id="checkHotel" style="display: none;width: 100%;height: 25%">
        <div id="hotelName"></div><div id="score"></div>
        <br>
        <div id="hotelAddress"></div>
        <br>
        <input id="SearchRoad" type="button" value="查看路线" onclick="ViewRoute()">
        <input id="hotelDetail" type="button" value="查看评论">
   </div>

</body>
</html>
<script type="text/javascript">
    var hotels={{ hotels_info | safe}}
    console.log(hotels);
    var startpoint=new BMap.Point();
    var endpoint=new BMap.Point();

    var map = new BMap.Map("bdmap");
    var point = new BMap.Point(116.331398,39.897445);
	map.centerAndZoom(point,15);
    map.enableScrollWheelZoom(true);
    var walking = new BMap.WalkingRoute(map, {renderOptions:{map: map, autoViewport: true}});
	var geolocation = new BMap.Geolocation();
	geolocation.getCurrentPosition(function(r){
		if(this.getStatus() == BMAP_STATUS_SUCCESS){
            var myIcon = new BMap.Icon("../../../static/img/pos.png",new BMap.Size(29, 26));
			var mk = new BMap.Marker(r.point,{icon:myIcon});
			map.addOverlay(mk);
			map.panTo(r.point);
			//alert('您的位置：'+r.point.lng+','+r.point.lat);
            console.log(r.point.lng);
            startpoint= r.point;
            var sw=new BMap.Point(r.point.lng-0.01, r.point.lat-0.01);
            var ne=new BMap.Point(r.point.lng+0.02, r.point.lat+0.02);
            var bound=new BMap.Bounds(sw,ne);
            console.log(bound);
            for(var i=0;i<hotels.length;i++){
                var tmp_point=new BMap.Point(hotels[i].posi[0],hotels[i].posi[1])
                if (bound.containsPoint(tmp_point)){
                    addMarker(tmp_point,hotels[i].name);
                }

            }
		}
		else {
			alert('failed'+this.getStatus());
		}
	},{enableHighAccuracy: true})
    var center_point=map.getCenter();
    console.log(center_point);
    //关于状态码
	//BMAP_STATUS_SUCCESS	检索成功。对应数值“0”。
	//BMAP_STATUS_CITY_LIST	城市列表。对应数值“1”。
	//BMAP_STATUS_UNKNOWN_LOCATION	位置结果未知。对应数值“2”。
	//BMAP_STATUS_UNKNOWN_ROUTE	导航结果未知。对应数值“3”。
	//BMAP_STATUS_INVALID_KEY	非法密钥。对应数值“4”。
	//BMAP_STATUS_INVALID_REQUEST	非法请求。对应数值“5”。
	//BMAP_STATUS_PERMISSION_DENIED	没有权限。对应数值“6”。(自 1.1 新增)
	//BMAP_STATUS_SERVICE_UNAVAILABLE	服务不可用。对应数值“7”。(自 1.1 新增)
	//BMAP_STATUS_TIMEOUT	超时。对应数值“8”。(自 1.1 新增)

    function addMarker(point,text){
      var label = new BMap.Label(text,{offset:new BMap.Size(-5,-20)});
      label.setStyle({
           "fontSize":"13px",
           "border":"0"
      })
      var myIcon = new BMap.Icon("../../../static/img/cater.png",new BMap.Size(29, 26));
	  var marker = new BMap.Marker(point,{icon:myIcon});
      marker.setLabel(label);
	  map.addOverlay(marker);
      addClickHandler(marker);
	}
    function addClickHandler(marker){
		marker.addEventListener("click",function(e){
            SetMarkerImgUrl();
            endpoint=marker.getPosition();
            walking.clearResults();
			openDiv(marker);
                }
		);
	}
	function openDiv(marker){
        document.getElementById("bdmap").style.height= 75+"%";
		document.getElementById('checkHotel').style.display="block";
        var newIcon=marker.getIcon();
        newIcon.setImageUrl("../../../static/img/test2.png");
{#        var newIcon  = new BMap.Icon("../../../static/img/test2.png",new BMap.Size(-29,-26));#}
        marker.setIcon(newIcon);
        document.getElementById('hotelName').innerHTML = marker.getPosition().lng;
	}
    function ViewRoute(){

        walking.search(startpoint,endpoint);
    }
    function SetMarkerImgUrl(){
        for (var i = 0; i < map.getOverlays().length; i++) {
                if (map.getOverlays()[i].toString() == "[object Marker]"){

                    var icon=map.getOverlays()[i].getIcon();
                    if(icon.imageUrl=="../../../static/img/test2.png"){
                        icon.setImageUrl("../../../static/img/cater.png");
                        map.getOverlays()[i].setIcon(icon);
                    }
                }

            }
    }

</script>

