<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width"/>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="http://121.40.58.147/static/css/css.css">
<title>话费充值</title>
</head>

<body>
<!--top开始-->


<!--top结束-->
   <div class="main" style="margin:0 auto;">
         <ul>
              <li class="border"><a href="http://www.10086.cn/nm/index_471_479.html"><P><img src="http://192.168.119.5/static/images/charge.jpg"/><span>移动充值</span></P></a></li>
              <li class="border"><a href="http://wap.10010.com/t/home.htm"><P><img src="http://192.168.119.5/static/images/charge.jpg"/><span>联通充值</span></P></a></li>
              <li class="border_bottom"><a href="http://wapzt.189.cn/pages/index/index.html"><P><img src="http://192.168.119.5/static/images/charge.jpg"/><span>电信充值</span></P></a></li>
         </ul>
   </div>


</body>
</html>
