<!DOCTYPE html>
<html lang="zh-CN">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../static/bootstrap/css/bootstrap.min.css">
    <!--<link rel="stylesheet" type="text/css" href="../../../static/assets/css/base.css">-->
    <script src="../../../static/assets/js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../../../static/angularjs/angular.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../../static/assets/js/zepto.min.js"></script>

    <style>
            .pf .glyphicon {
                color: orange;
                user-select: none;
                padding: 0px 5px;
            }

            .pf .lii {
                padding: 5px 0px;
                font-size:16px;
            }
            .detail-top{padding: 0;}
            .detail-del{background-color: #5bc0de;text-align: center;font-weight: bold;
                border: 0;border-radius: 0;color: #fff;font-size: 1.6rem;}
            .detail-img{width: 100%;height: 20rem;border: none;padding: 0;}
            .img-responsive{width: 100%;height: 100%;}
            .detail-hotel{border: none;font-weight: bold;}
            .detail-add{border: none;padding-top:0;padding-bottom: 0;}
            .detail-address{}
            .detail-address:active{text-decoration:none;}
            .detail-address:hover{text-decoration:none}


            .list-list{padding: 0;margin-bottom: 0;}
            .list-list .list-group-item{border: none;padding: 0;}
            .top{padding-right: 0;}
            .top-con{padding-left: 0;}
            .img-top{width: 3.2rem;height: 3.2rem}
            .img-main{width: 80px;height: 80px;}
            .list-comment{width: 74%;margin: 0 auto}
            .list-content{width: 74%;margin: 0 auto}
            .list-content .col-xs-4{padding: 0;margin-top: 0.8rem}
            .list-content .list-group-item{border: none;padding: 0.1rem 0 0 0;}
        </style>
</head>
<body >
    <div class="detail-top list-group">
        <div class="list-group-item detail-del" >商家详情</div>
        <div class="list-group-item detail-img">
            <img src="{{ hotel.img}}"  alt="..." class="img-responsive" alt="Responsive image">
        </div>
         <div class="list-group-item detail-hotel">{{ hotel.name }}</div>
        <div class="list-group-item detail-add">
            <span class="glyphicon glyphicon-map-marker"></span>
            <a class="detail-address" href="http://licong.iok.la:37811/home/line?personpos={{ personpos }}&lng={{ hotel.lng }}&lat={{ hotel.lat }}">
            {{ hotel.address }}
        </a>
        </div>

    </div>
    <div class="container">
        <div style="float: left;margin-top: 2%;margin-bottom: 2% ">
            <button type="button" onclick="showcomment()" class="btn btn-success">我要评论</button>
        </div>
        <div style="float: right;margin-top: 2%;margin-bottom: 2% ">
            <button type="button" onclick="complain()" class="btn btn-default">我要投诉</button>
        </div>
        <form id="formcomment" style="display: none" action="" method="post" enctype= "multipart/form-data">
             {% csrf_token %}
              <div class="form-group">
                   <div class="pblockm" id="d1406010801010000002" data-rh-caption="块样式">
                        <br><br><br>
                        <div class="pf">
                            <div data-rh-score="5" style="float: left">
                                <span class="title" >我要评分</span>
                                <span class="glyphicon glyphicon-star lii"></span>
                                <span class="glyphicon glyphicon-star lii"></span>
                                <span class="glyphicon glyphicon-star lii"></span>
                                <span class="glyphicon glyphicon-star lii"></span>
                                <span class="glyphicon glyphicon-star lii"></span>
                                <span class="tip" id="point"  style="float: right;margin-left: 3px" ></span>
                            </div>
                        </div>
                    </div>
              </div>
               <br>
              <div class="form-group">
                <textarea id="commenttext" name="commenttext" class="form-control" rows="3" placeholder="请输入您的评论。"></textarea>
              </div>
              <div style="display: none">
                 <input type="text" name="inputpoint" id="inputpoint">
                 <input type="text" name="nickname" id="nickname" value="{{nickname}}">
                 <input type="text" name="useinfo" id="useinfo" value="{{useinfo}}">
                 <input type="text" name="hostid" id="hostid" value="{{hostid}}">
              </div>
              <div style="display: none">
                  <input name="personpos" value="{{ personspos }}"/>
              </div>
              <div class="form-group" style="float: left">
                <label for="commentimg" style="float: left">我要传图</label>
                <input  style="float: left;margin-left: 20%" type="file" id="commentimg" name="commentimg" multiple="multiple">
              </div>
              <!--<button type="submit" class="btn btn-success" onclick="submitfun()">提交</button>-->
              <button type="button" onclick="hidecomment()" class="btn btn-default" >取消</button>
              <button type="submit" onclick="submitfun()" class="btn btn-success" style="float: right">提交</button>
        </form>

        <table class="table ">
          <thead>
            <tr>
                <th style="font-size: xx-large">消费评价</th>
            </tr>
          </thead>
          <tbody>

            <tr>
                <td >
                      <div class="" style="float: left;width: 50%">
                          <div style="margin: 10%">
                              <span style="color: #e38d13;font-size: xx-large">{{ hotelpoint }}</span>分
                          </div>
                          <div style="margin: 10%">
                              总计<span style="color: #e38d13">{{ commentlistlen }}</span>条评论
                          </div>

                      </div>

                      <div style="float: left;width: 10%; ">
                          <div style="margin-bottom:2px">1分</div>
                          <div style="margin-bottom:2px">2分</div>
                          <div style="margin-bottom:2px">3分</div>
                          <div style="margin-bottom:2px">4分</div>
                          <div style="margin-bottom:2px">5分</div>
                      </div>
                      <div style="float: left;width: 40%; ">
                        {% for value in numpoint %}

                            <div class="progress" style="margin-bottom:2px">
                              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width:  {{value}}%;">
                                {{ value }}%
                              </div>
                            </div>
                        {% endfor %}

                      </div>
                </td>
            </tr>
          {% for comm in commentinfo %}

            <tr>
                <td>
                    <div>
                        <div class="row">
                            <div class="col-xs-2 top">
                                <img src="{{ comm.comment.headimgurl }}" class="img-responsive img-top" alt="Responsive image">
                            </div>
                            <div class="col-xs-6 top-con">
                                <div class="list-group list-list">
                                    <div class="list-group-item">{{ comm.comment.username }}</div>
                                    <div class="list-group-item" data-rh-score="0" >
                                        {% for item in comm.comment.socre %}
                                           {% ifequal item '1' %}
                                                <span class="glyphicon glyphicon-star" style="color: orange;font-size:16px;"></span>
                                            {% else %}
                                                <span class="glyphicon glyphicon-star-empty" style="color: orange;font-size:16px;"></span>
                                            {% endifequal %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="list-comment" >{{ comm.comment.comment }}</div>
                    <div class="list-group list-content row">
                        {% for tempurl in comm.imgurllist %}
                        <div class="col-xs-4">
                            <div class="list-group-item">
                                <img src="{{ tempurl }}"  alt="..." class="img-responsive img-main" alt="Responsive image">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
    </div>

<script>
    function showcomment(){
        document.getElementById("formcomment").style.display=''
    }
    function hidecomment(){

        document.getElementById("formcomment").style.display='none'
    }
    function complain(){

        window.location.href = '../../../home/complain?hotelid='+'{{hostid}}'+'&nickname='+'{{nickname}}'
    }
</script>
<script>
        var tip=['','1分','2分','3分','4分','5分'];
        $('.pf').on('mousedown','.glyphicon',function(){
            if($(this).hasClass('glyphicon-star')){
                var score = 0;
                $(this).parent().attr('data-rh-score' ,score);
                $(this).addClass('glyphicon-star-empty').removeClass('glyphicon-star').siblings('.glyphicon').addClass('glyphicon-star-empty').removeClass('glyphicon-star');
                $(this).nextAll('.tip').text(tip[0]);
            }else{
                var score = $(this).index();
                $(this).parent().attr('data-rh-score' ,score);
                $(this).addClass('glyphicon-star').removeClass('glyphicon-star-empty').prevAll('.glyphicon').addClass('glyphicon-star').removeClass('glyphicon-star-empty');
                $(this).nextAll('.tip').text(tip[score]);
            }
            $('#inputpoint').val($("#point").text())
        });


        </script>
</body>
</html>
