<!doctype html>

<html>

<head>

<meta charset="utf-8">

<meta name="format-detection" content="telephone=no">

<title>锡盟发布-便民大厅</title>

<meta name="Description" content=""/>

<meta name="Keywords" content=""/>

<link href="" rel="stylesheet" type="text/css"/>

<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>

<style type="text/css">

*{margin:0;padding:0;border:0;}

ul,ol,li{list-style:none;}

em{font-style:normal;}

a{color:#333;text-decoration:none;}

html{height:100%;}

body{width:100%;background:#d5e3e5;font:16px/1.5 微软雅黑;height:100%;}

article{width:100%;border-bottom: 1px solid #7c7f7f;position: relative;}

article table{margin:0 auto;padding:10px 0;width:95%;}

article table tr{width:100%;height:33%;}

article table tr td{padding:2% 2% 4% 2%;width:30%;max-width:250px;max-height:250px;background-size:100%;text-align:center;}

article table tr td img{max-width:250px;max-height:250px;}

article table tr td p{font-size:14px;color: #000;}

.body_content{position: relative;min-height:95%;padding-bottom: 20px;}

@media(min-width:640px){article table tr td p{padding-top:24px;font-size:24px;}.body_content{position: relative;height: auto;min-height:auto;padding-bottom: 60px;}

}

.bottom{width: 100%;text-align: center;font-size: 14px;color: #44494f;position: absolute;bottom: -14px;left: 0px;}

.h80{height: 80px;}

.soon{width: 100%;text-align: center;color: #747474;}

.h40{height: 40px;}

.h50{height: 50px;}

.h20{height: 10px;}

.soon {position: absolute;left: 50%;margin-left: -100px;bottom: -14px;text-align: center;color: #333333;background: #d5e3e5;width: 200px;}

</style>

<script>

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

})(window,document,'script','//shanghaicity.openservice.kankanews.com/public/js/analytics.js','ga');

ga('create', 'UA-21873800-9', 'auto');

ga('require', 'displayfeatures');

ga('require', 'linkid', 'linkid.js');

ga('send', 'pageview');

var _hmt = _hmt || [];

(function() {

	var hm = document.createElement("script");

	hm.src = "//hm.baidu.com/hm.js?6f69830ae7173059e935b61372431b35";

	var s = document.getElementsByTagName("script")[0];

	s.parentNode.insertBefore(hm, s);

})();

</script>

</head>

<body>

<img src="http://skin.kankanews.com/v5/openservice/images/sh_logo.jpg" class="logo" style="top: -500px; position: absolute;">

<div class="body_content">

	<article>

	<table border="1">

	<tr>

		<!-- 实时交通 -->

		<td>

			<a href="http://shanghaicity.openservice.kankanews.com/public/bus" onclick="ga('send', 'event', 'ShiZhengDaTing', 'click', 'GongJiao');">

			<img src="http://skin.kankanews.com/v5/openservice/images/icon_bluecar.png" width="80%">

			</a>

			<p>

				公交实时到站

			</p>

		</td>

		<!-- 电子监控查询 -->

		<td>

			<a href="http://shanghaicity.openservice.kankanews.com/public/traffic/newdzjk" onclick="ga('send', 'event', 'ShiZhengDaTing', 'click', 'DianZi');">

			<img src="http://skin.kankanews.com/v5/openservice/images/icon_dzjk.png" width="80%">

			</a>

			<p>

				电子监控违法

			</p>

		</td>

		<!-- 违法计分查询 -->

		<td>

			<a href="http://shanghaicity.openservice.kankanews.com/public/traffic/newwfjf" onclick="ga('send', 'event', 'ShiZhengDaTing', 'click', 'JiaZhao');">

			<img src="http://skin.kankanews.com/v5/openservice/images/icon_wfjf.png" width="80%">

			</a>

			<p>

				驾照违法记分

			</p>

		</td>

	</tr>

	<tr>

		<!-- 快处易赔 -->

    <td>

      <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx920015b9d67461c3&redirect_uri=http%3A%2F%2Fweixin.shia.org.cn%2Frestservices%2Fshkcypwx%2FwxGetOpenId%2Fquery%3Furl%3Dhttp%3A%2F%2Fkcyp-h5.shia.org.cn%2Fshkckpweb%2Fshkckpweb_firstpage&response_type=code&scope=snsapi_base&state=longrise#wechat_redirect" onclick="ga('send', 'event', 'ShiZhengDaTing', 'click', 'KuaiChu');">

      <img src="http://www.kankanews.com/m/test/shfb/images/kcyp.png" width="80%" style="border-radius: 50%;">

      </a>

      <p>

        快处易赔

      </p>

    </td>

		<!-- 路况查询 -->

		<td>

			<a href="http://shanghaicity.openservice.kankanews.com/public/road/index" onclick="ga('send', 'event', 'ShiZhengDaTing', 'click', 'LuKuang');">

			<img src="http://skin.kankanews.com/v5/openservice/images/icon_lkcx.png" width="80%">

			</a>

			<p>

				路况查询

			</p>

		</td>

		<!-- 交通卡余额 -->

		<td>

			<a href="http://shanghaicity.openservice.kankanews.com/public/traffic/jtkye" onclick="ga('send', 'event', 'ShiZhengDaTing', 'click', 'JiaoTong');">

			<img src="http://skin.kankanews.com/v5/openservice/images/icon_jtk.png" width="80%">

			</a>

			<p>

				交通卡余额

			</p>

		</td>

	</tr>

	<tr>
		<!-- 入学信息查询 -->
		<td>

			<a href="http://act.shanghaicity.openservice.kankanews.com/iloveshanghai/2015/zhaosheng/indexnew.html" onclick="ga('send', 'event', 'ShiZhengDaTing', 'click', 'RuXue');">

			<img src="http://skin.kankanews.com/v5/openservice/images/icon_rxcx.png" width="80%">

			</a>

			<p>

				入学信息查询

			</p>

		</td>
		<!-- 景区实时客流查询 -->

		<td>

			<a href="http://shanghaicity.openservice.kankanews.com/public/tour/index" onclick="ga('send', 'event', 'ShiZhengDaTing', 'click', 'JingQu');">

			<img src="http://skin.kankanews.com/v5/openservice/images/icon_jqkl.png" width="80%">

			</a>

			<p>

				景区实时客流

			</p>

		</td>
		<!-- 出入境办证 -->

		<td>

			<a href="http://shanghaicity.openservice.kankanews.com/public/civil/inout" onclick="ga('send', 'event', 'ShiZhengDaTing', 'click', 'ChuRu');">

			<img src="http://skin.kankanews.com/v5/openservice/images/icon_crj.png" width="80%">

			</a>

			<p>

				出入境办证

			</p>

		</td>

	</tr>

	<tr>
		<!-- 个税查询 -->

		<td>

			<a href="http://gr.tax.sh.gov.cn/webchart/m_fb_login.xhtml" onclick="ga('send', 'event', 'ShiZhengDaTing', 'click', 'GeShui');">

			<img src="http://skin.kankanews.com/v5/openservice/images/icon_gscx.png" width="80%">

			</a>

			<p>

				个税查询

			</p>

		</td>
		<!-- 空气质量 -->

		<td>

		  <a href="http://shanghaicity.openservice.kankanews.com/public/aqi/index" onclick="ga('send', 'event', 'ShiZhengDaTing', 'click', 'KongQi');">

		  <img src="http://skin.kankanews.com/v5/openservice/images/icon_tqzl.png" width="80%">

		  </a>

		  <p>

			空气质量

		  </p>

		</td>

		<!-- 上海天气 -->

		<td>

			<a href="http://shanghaicity.openservice.kankanews.com/public/default/Weather" onclick="ga('send', 'event', 'ShiZhengDaTing', 'click', 'TianQi');">

			<img src="http://skin.kankanews.com/v5/openservice/images/icon_tq.png" width="80%">

			</a>

			<p>

				上海天气

			</p>

		</td>
	</tr>

	<tr>

    <!-- 更多 -->
	<td>

			<!--公积金查询-->

			<a href="http://hyxt2.shgjj.com/gjjwx/h5/user.php" onclick="ga('send', 'event', 'ShiZhengDaTing', 'click', 'GongJi');">

			<img src="http://skin.kankanews.com/v5/openservice/images/icon_gjj.png" width="80%">

			</a>

			<p>

				公积金查询

			</p>

		</td>

    <td>

<!--			<div class="more" onclick="ga('send', 'event', 'ShiZhengDaTing', 'click', 'GengDuo');">

        <img src="http://skin.kankanews.com/v5/openservice/images/more.png" width="80%">

        <p>

          更多

        </p>

      </div>-->
      <div>

        <!-- 餐饮查询 -->

        <a href="http://shanghaicity.openservice.kankanews.com/public/cy/index" onclick="ga('send', 'event', 'ShiZhengDaTing', 'click', 'GongJi');">

        <img src="http://skin.kankanews.com/v5/openservice/images/icon_cy.png" width="80%">

        </a>

        <p>

            餐饮脸谱查询

        </p>

      </div>

    </td>

		<!-- 养老保险查询 -->

		<td>

			<a href="http://shanghaicity.openservice.kankanews.com/public/social/sblogin" onclick="ga('send', 'event', 'ShiZhengDaTing', 'click', 'YangLao');">

			<img src="http://skin.kankanews.com/v5/openservice/images/icon_shbx.png" width="80%">

			</a>

			<p>

				养老保险查询

			</p>

		</td>
	</tr>

  <tr>
	<!-- 医疗保险查询 -->

	<td>

		<a href="http://shanghaicity.openservice.kankanews.com/public/civil/shyb" onclick="ga('send', 'event', 'ShiZhengDaTing', 'click', 'Yiliao');">

		<img src="http://skin.kankanews.com/v5/openservice/images/icon_ylbx.png" width="80%">

		</a>

		<p>

			医疗保险查询

		</p>

	</td>

    <!-- 结婚登记预约 -->

    <td>

      <a href="http://app3.shmzj.gov.cn/marryWap/shanghai/index.jsp" onclick="ga('send', 'event', 'ShiZhengDaTing', 'click', 'JieHun');">

      <img src="http://skin.kankanews.com/v5/openservice/images/icon_jhdj.png" width="80%">

      </a>

      <p>

        结婚登记预约

      </p>

    </td>

  </tr>

	</table>

	<div class="h20">

	</div>

	<div class="soon">

		<span> 更多功能，即将上线</span>

	</div>

	</article>

	<div class="bottom">

			SMG看看新闻网提供技术支持

		<br>

	</div>

</div>

<!--<script src="http://shanghaicity.openservice.kankanews.com/public/js/zepto.min.js"></script>

<script>

		$(function(){

			$(".more").on("click",function(){

				$(this).hide();

				$(this).next("div").show();

				$("table tr").show();

				return false;

			})

		})

	</script>-->

</body>

</html>

