<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width"/>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black"> 
<link rel="stylesheet" type="text/css" href="http://121.40.58.147/static/css/css.css">
<title>智慧锡盟</title>
</head>

<body>
<!--top开始-->


<!--top结束-->
   <div class="main">
         <ul>
              <li class="border"><a href="http://mp.weixin.qq.com/s/3BOgfLh2r1vpilQ90yLcAA"><P><img src="http://121.40.58.147/static/images/icon_1_03.png"/><span>公交路线图</span></P></a></li>
              <li class="border"><a href="http://licong.iok.la:35148/home/text"><P><img src="http://121.40.58.147/static/images/icon_1_05.png"/><span>电子监控违法</span></P></a></li>
              <li class="border_bottom"><a href="http://licong.iok.la:35148/home/text"><P><img src="http://121.40.58.147/static/images/icon_1_07.png"/><span>驾照违法计分</span></P></a></li>
              <li class="border_right"><a href="http://licong.iok.la:35148/home/text"><P><img src="http://121.40.58.147/static/images/icon_1_13.png"/><span>景区实时游客</span></P></a></li>
              <li class="border_right"><a href="http://licong.iok.la:35148/home/text"><P><img src="http://121.40.58.147/static/images/icon_1_15.png"/><span>路况查询</span></P></a></li>
              <li><a href="http://121.40.58.147/home/text"><P><img src="http://licong.iok.la:35148/static/images/icon_1_17.png"/><span>话费充值</span></P></a></li>
               <li class="border_right"><a href="http://licong.iok.la:35148/home/text"><P><img src="http://121.40.58.147/static/images/icon_18.png"/><span>空气质量</span></P></a></li>
              <li class="border_right"><a href="http://wx.weather.com.cn/mweather/101080901.shtml#1"><P><img src="http://121.40.58.147/static/images/icon_1_19.png"/><span>锡盟天气</span></P></a></li>
              <li><a href="http://licong.iok.la:35148/home/canyin">
              <P><img src="http://licong.iok.la:35148/static/images/icon_1_20.png"/><span>餐饮安全</span></P></a></li>
              </ul>
   </div>


</body>
</html>
