<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width"/>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black"> 
<link rel="stylesheet" type="text/css" href="http://121.40.58.147/static/css/list.css"/>
<title>通知通告</title>
</head>

<body>

<div class="text">

<p class="center">网站内容建设中。。。<br /><span>发布时间：2017-4-15 17:38:10<br /> 来源：上海博达云计算中心</span></p>
    
<img style=" padding:5% 0px;; width:100%;" src="http://121.40.58.147/static/images/timg.jpg" />



</div>



 <div class="foot">
   <p>技术支持：博达云平台</p></div>
</body>
</html>
