<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>跳转中...</title>
</head>
<body>
<script language="javascript" type="text/javascript">
// 以下方式直接跳转
window.location.href='http://chaihaiyang.imwork.net/home/canyindetail/?code='+GetQueryString("code")+'&id='+GetQueryString("id");

    function GetQueryString(name)
        {
             var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
             var r = window.location.search.substr(1).match(reg);
             if(r!=null)return  unescape(r[2]); return null;
        }
</script>
</body>
</html>